[submodule "third_party/FreeRTOS"]
	path = third_party/FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS.git
[submodule "third_party/FreeRTOS-Kernel"]
	path = third_party/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "third_party/uC-OS3"]
	path = third_party/uC-OS3
	url = https://github.com/SiliconLabs/uC-OS3.git
